{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'courses/courses.css' %}">

    <title>DivePrice.com</title>
</head>

<body>
    <header>
        <a href="/" class="home-link"><img src="{% static 'courses/logo-TRY-1.png' %}" alt="logo-placeholder" class="logo"></a>
        <ul>
            <li class="menu-button-left"><a href="{% url 'courses:search' %}">Search</a></li>
            <li class="menu-button"><a href="{% url 'courses:all_courses' %}">All courses</a></li>
        </ul>
    </header>

    {% if courselist %}

    <section class="location-content">
        <h1>Scuba diving Courses in {{min.location}}</h1>

        <div class="extremes-card">
            <h2>Cheapest<a href="{% url 'courses:course' min.school_cf min.name_cf min.id %}" ><span class="link-span"></span></a></h2>
            <h3>{{min.school}}</h3>
            <p>{{min.name}}</p>
            <p>{{min.price}}</p>
        </div>

        <div class="extremes-card">
            <h2>Most expensive<a href="{% url 'courses:course' max.school_cf max.name_cf max.id %}" ><span class="link-span"></span></a></h2>
            <h3>{{max.school}}</h3>
            <p>{{max.name}}</p>
            <p>{{max.price}}</p>
        </div>

        <div class="avg-card">
            <h2>Average OW course price</h2>
            <p>{{average}}</P>

            <a href="{% url 'courses:all_courses'%}" ><h2>All Koh Tao courses</h2></a>
        </div>
    </section>
    
    {% endif %}

    <footer>
        <ul>
            <li class="menu-button-left"><a href="{% url 'courses:search' %}">Search</a></li>
            <li class=""><a href="{% url 'courses:all_courses' %}">All courses</a></li>
        </ul>
    </footer>

</body>


