.booking {
    height: 90vh;
    display: flex;
}

.bookingLeft {
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bookingRight {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.bookingRight h1 {
    margin-left: 25px;
}

.BookingForm {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    width: auto;
    height: auto;
}

form input {
    height: 40px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
}

.courseselect {
    max-width: 10rem;
}

div.SchoolAndCourse {
    display: flex;
}

.schoolDrop, 
.courseDrop {
    display: flex;
    flex-direction: column;
}

.courseDrop {
    margin-left: 25%;
}

input::placeholder,
textarea::placeholder {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.BookingForm label {
    margin-top: 25px;
}

.DobAndMed {
    display: flex;
}

.medcheck {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    
}

.bookingdate,
.DoB {
    margin-top: 25px;
}

.BookingForm textarea {
    height: 60px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
}

.submitbutton {
    width: 80%;
    height: 30px;
    color: white;
    background-color: #121619;
    margin-left: 25px;
    border-radius: 5px;
    margin-top: 25px;
}

button:hover {
    background-color: #232427;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.booked {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bookedbuttons {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.bookedbuttons a {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.bookedbutton{
    width: 100%;
    height: 30px;
    color: white;
    background-color: #121619;
    border-radius: 5px;
    margin-top: 25px;
}

.bookedbuttonlink {
    text-decoration: none;
}


.greenTick {
    height: 10rem;
    width: 10rem;
    background-size: cover;
}

.loadingbooking{
    display: flex;
    flex-direction: column;

}

.lds-ring {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid white;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


@media only screen and (max-width: 850px) {
    .SchoolAndCourse {
        display: block !important;
        width: max-content;
    }

    .courseDrop {
        margin: 0;
    }

    .DobAndMed {
        display: block;
    }

    .DoB {
        display: flex;
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 550px) {
    .booking {
        display: flex;
        flex-direction: column;
    }

    .bookingRight button {
        margin-bottom: 30px;
    }
}

