.booking {
    height: 90vh;
    display: flex;
}

.bookingLeft {
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bookingRight {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.bookingRight h1 {
    margin-left: 25px;
}

.BookingForm {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    width: auto;
    height: auto;
}

form input {
    height: 40px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
}

.courseselect {
    max-width: 10rem;
}

div.SchoolAndCourse {
    display: flex;
}

.schoolDrop, 
.courseDrop {
    display: flex;
    flex-direction: column;
}

.courseDrop {
    margin-left: 25%;
}

input::placeholder,
textarea::placeholder {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.BookingForm label {
    margin-top: 25px;
}

.DobAndMed {
    display: flex;
}

.medcheck {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    
}

.bookingdate,
.DoB {
    margin-top: 25px;
}

.BookingForm textarea {
    height: 60px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
}

.bookingRight button {
    width: 80%;
    height: 30px;
    color: white;
    background-color: #121619;
    margin-left: 25px;
    border-radius: 5px;
    margin-top: 25px;
}

.bookingRight button:hover {
    background-color: #232427;
    cursor: pointer;
    transition: 0.2s ease-in;
}

@media only screen and (max-width: 850px) {
    .SchoolAndCourse {
        display: block !important;
        width: max-content;
    }

    .courseDrop {
        margin: 0;
    }

    .DobAndMed {
        display: block;
    }

    .DoB {
        display: flex;
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 550px) {
    .booking {
        display: flex;
        flex-direction: column;
    }

    .bookingRight button {
        margin-bottom: 30px;
    }
}

