.booking-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.border-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(18, 22, 25);
    margin: 2rem;
    width: 70%;
}

.content-container{
    background-color: white;
    margin: 5rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons button{
  height: 4rem;
  width: 8rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 3rem;
}

.buttonlink {
  text-decoration: none;
  color: black !important;
  width: 100%;
  height: 75%;
  display: inline-block;
  padding-top: 1.2rem;
}

.acceptbutton {
    background-color: rgba(0, 128, 0, 0.838);
}

.denybutton {
    background-color: rgba(255, 0, 0, 0.834);
}

.denyh2 {
  color: white;
}

.Denyreason {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.reasondenyselect{
  width: max-content;
  align-self: center;

}

.denysend {
  background-color: rgba(255, 0, 0, 0.834);
  height: 2rem;
  width: 75%;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 2rem;


}


.loadingconfirm{
    display: flex;
    flex-direction: column;
    color: white;

}

.lds-ring-confirm {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
  }
  .lds-ring-confirm div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid white;
    border-radius: 50%;
    animation: lds-ring-confirm 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: white transparent transparent transparent;
  }
  .lds-ring-confirm div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring-confirm div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring-confirm div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring-confirm {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.finalh1 {
    color: white;
}

@media only screen and (max-width: 850px) {
    .content-container {
        margin: 2rem;
    }
    
}

@media only screen and (max-width: 500px) {
    button {
        height: 3rem;
        width: 7rem;
    }

    h2, h3 {
        font-size: 18px;
    }
    
}