.coursePage h1 {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    align-content: center;
}

.courseOutline,
.courseSchedule, 
.info h2 {
    text-align: center;
    width: 80%;
}


.coursesContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto 2rem;
}

.disclaimer {
    font-size: 1rem;
    width: 80%;
}

@media only screen and (max-width: 1000px) {
    .coursesContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (max-width: 775px) {
    .coursesContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 550px) {
    .coursesContainer {
        grid-template-columns: 1fr;
    }

}
