.coursePage h1 {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    align-content: center;
}

.courseOutline,
.courseSchedule, 
.info h2 {
    text-align: center;
    width: 80%;
}

.courseSchedule {
    margin-top: 0;
}

.disclaimer {
    font-size: 1rem;
    width: 80%;
}

.disclaimer2 {
    margin-top: 0;
}

.sortinfo {
    margin-left: 2rem;
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
}

.sortbox {
    display: flex;
    align-items: center;
}

.sortlist {
    margin-left: 0.5rem;
}

.coursesContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto 2rem;
}



@media only screen and (max-width: 1000px) {
    .coursesContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (max-width: 800px) {
    .coursesContainer {
        margin: 0;
    }
    .courseCard {
        font-size: 1rem;
    }

    .courseLinks {
        display: flex;
        
    }

    .courseCard button {
        font-size: 1rem !important;
    }

    .coursefirstbutton {
        border-right: 1px solid black !important;
    }
}

@media only screen and (max-width: 650px) {
    .coursesContainer {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (max-width: 450px) {
    .sortinfo {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

}