.footer {
    background-color: rgb(18, 22, 25);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer p {
    color: white;
}


@media only screen and (max-width: 550px) {
    footer {
        width: 100%;
    }

    .socialMedia {
        display: flex;
        width: 100%;
    }
    
    .socialMedia a {
        padding: 0 1rem;
    }
}