.footer {
    background-color: rgb(18, 22, 25);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footerlists {
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.footer h4 {
    color: white;
}

.footer p {
    font-size: 1rem;
    color: white;
}

.footer a {
    text-decoration: none;
}



.footer a:hover {
    text-decoration: solid underline white 2px;
}


@media only screen and (max-width: 550px) {
    .footerpagelinks {
        display: none;
    }

    .footerformobile {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}