.navbar {
    width: 100%;
    height: auto;
    background-color: rgb(18, 22, 25);
    /* background-color: black; */
    display: flex;
    flex-direction: row;
}

.company{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.desktoplinks {
    flex: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.complogo {
    width: 6rem;
}

.companyName {
    color: white;
    padding-left: 0.6rem;
    font-size: 2rem;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0.6rem;
    padding: 0.6rem;
}

.burger {
    display: none;
}

.mobilelinks a:hover,
.mobilelinks a:focus-visible,
.desktoplinks a:hover,
.desktoplinks a:focus-visible {
    border-bottom: 2px solid white;
    outline: none;
}

.mobilelinks {
    margin: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    width: min-content;
}


@media only screen and (max-width: 825px) {

    .companyName {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 790px) {

    .companyName {
        display: none;
    }
}

@media only screen and (max-width: 650px) {

    .desktoplinks {
        display: none;
    }

    .burger {
        display: block;
        margin-right: 2rem;
    }



}
