.aboutPage {
    display: flex;
    flex-direction: column;
}

.aboutImage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    background-size: cover;
    background-position: center;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    align-items: center;
}

.aboutBox {
    width: 50%;
    background-color: rgb(18, 22, 25, 80%);
    color: white;
    min-width: 18.75em;
    text-align: center;
}

.aboutBox h1 {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.schoollogo {
    height: 7rem;
    background-color: white;
    margin: 1rem;
    width: -webkit-fill-available;
    max-width: max-content;
}

.aboutBox p {
    padding: 0;
    font-size: 1.1rem;
    line-height: 1.4;
    padding: 0 1.5em;
}

.schoolbook {
    width: 100%;
    height: 3rem;
    color: white;
    background-color: rgb(18, 22, 25);
    font-size: 1.1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
}

.schoolcoursesheader {
    margin-left: 2rem;
}

.schoolcoursesContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto 2rem;
}



@media only screen and (max-width: 1000px) {
    .schoolcoursesContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (max-width: 800px) {
    .schoolcoursesContainer {
        margin: 0;
    }
    .courseCard {
        font-size: 1rem;
    }

    .schoolcoursesContainer .courseLinks {
        display: block;
    }

    .courseCard button {
        font-size: 1rem !important;
    }

    .coursefirstbutton {
        border-right: 1px solid black !important;
    }
}

@media only screen and (max-width: 650px) {
    .schoolcoursesContainer {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (max-width: 600px) {
    .aboutBox p {
        line-height: 1.2;
    }
    
}

@media only screen and (max-width: 450px) {
    .sortinfo {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

}