.Search {
    display: flex;
}

.toptext {
    margin: 2rem;
}

.Search input {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    accent-color: rgba(18, 22, 25, 0.75);
    
}

.buttonbox {
    display: flex;
    justify-content: end;
    border-bottom: 1px solid black;
}

.Search button {
    height: 2rem;
    width: 5rem;
    margin: 1rem;
    cursor: pointer;
    border: none;
    background-color: rgb(18, 22, 25);
    color: white;
    border-radius: 10%;
    font-weight: bold;
}

.Search button:hover {
    background-color: rgba(35, 36, 39, 0.9);
    transition: ease-in 0.2s;
}

.SearchForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 2rem;
    border-top: 1px solid black;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
    margin-top: 1rem;
}

.optionbox {
    display: flex;
    flex-direction: column;
}

.resultnum {
    margin-left: 2rem;
}

.SchoolResults {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.schoolCard {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 250px;
    margin: 25px 0px; 
    background-color: #121619;
    box-shadow: 5px 5px 5px #232427;
}

.schoolCard p,
.schoolCard h3 {
    color: white;
    text-align: center;
    height: 100%;
}

.schoolCard h3 {
    font-size: 1.3rem;
}

.schoolCard p {
    padding: 0 1em;
}

.schoolCard a {
    width: 100%;
    display: flex;
    text-decoration: none;

}

.schoolCard button {
    width: 100%;
    height: 3rem;
    background-color: #121619;
    color: white;
    font-size: 1.1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 2px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.schoolCard button:hover,
.schoolCard button:focus {
    background-color: #232427;
    cursor: pointer;
    transition: 0.2s ease-in;
    outline: none;
}

@media only screen and (max-width: 1000px) {

    .SchoolResults {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 750px) {

    .options {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
    }

}

@media only screen and (max-width: 575px){
    .SchoolResults {
        grid-template-columns: 1fr;
    }
}

