@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300;400;600;800&display=swap');

.App {
  font-size: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Big Shoulders Text', sans-serif; 
  min-height: 100vh;
}


body {
  padding: 0px;
  margin: 0px;
}

.footer {
  margin-top: auto;
}